/* Universal Selector */
* {
    font-family: 'Times New Roman', Times, serif !important; 
}

/* Tag Selector */
body {
    background-color: #eaf6f6;
    background-image: url(../images/bkg-css.jpg);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: thick;
    border-color: gray;
    width: 5%;
}

h2  {
    color: #66bfbf;
}

h6  {
    color: rgba(178, 76, 127, 1);
}


/* Class Selector */
.paragraph {
    color:#1f7c76;
}

.list {
    color:#81e6df;
}

/* Id Selector */
#firstParagraph,
#secondParagraph {
    color: #163331;
}

/* Parent-Child Selector */
#thirdParagraph em {
    color: red;
}

/* Attribute Selector */
input[type="text"] {
    background-color: #faf3dd;
}

input[type="submit"] {
    background-color: greenyellow;
}

/* Event Class Selector */
.changeParagraph:hover {
    color: darkblue;
}

/* Fonts */
#font1 {
    font-family: 'Ranchers', cursive !important;
}

@font-face {
    font-family: 'Roboto Mono Custom';
    src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}

#font2 {
    font-family: 'Roboto Mono Custom' !important;
}

h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}